{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas - Workspaces</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'functions.js' %} "></script>
</head>
<body>
    <div class="container">
        <div class="workspaces-container">
            <h1>Workspace</h1>
            <div class="logout">
                <button id="logout-link" onclick="logout()" style="position: absolute; top: 10px; right: 10px; font-size: 12px;">Cerrar Sesión</button>
            </div>
            <div class="actions">
                <button id="create-workspace" onclick="createWorkspaceForm()">Crear Workspace</button>
                <button id="view-workspaces" onclick="viewWorkspaces()">Ver Workspaces</button>
            </div>
            <div id="workspace-content">
                <!-- Aquí se mostrará el contenido dinámicamente -->
            </div>
        </div>
    </div>

</body>
</html>
