/* Here is the design for the file workspaces.html */
/* author : Juan Zárate */


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
/*Part where is the LogIn information*/
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Here is the design for the file workspaces.html */

/*general content*/
.workspaces-container {
    text-align: center;
}

.actions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/*Crear - Ver - Eliminar buttons*/
button {
    width: 100px;
}

button + button {
    margin-left: 10px;
}

#workspace-content {
    margin-top: 20px;
}

/*Cerrar Sesión button*/
.logout {
    text-align: right;
    margin-bottom: 20px;
}

.logout a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

.logout a:hover {
    text-decoration: underline;
}

/*Botones de Crear Workspace*/

.option1,
.option2 {
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    justify-content: space-between; /* Espacio igual entre los elementos */
    margin-bottom: 10px; /* Espacio entre las opciones */
}

.option1 label,
.option2 label {
    margin-right: 10px; /* Espacio entre el label y el input */
}

.option1 input,
.option2 textarea {
    flex-grow: 1; /* Hacer que los inputs ocupen todo el espacio restante */
}

.option1 button,
.option2 button {
    width: 150px; /* Ancho fijo para los botones */
}
