{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas - Workspaces</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="workspaces-container">
            <h1>Mis Workspaces</h1>
            <div class="actions">
                <button id="createWorkspaceBtn">Crear Workspace</button>
                <button id="viewWorkspacesBtn">Ver Workspaces</button>
                <button id="deleteWorkspaceBtn">Eliminar Workspace</button>
            </div>
            <div class="logout">
                <a id="logout-link" href="{% url 'login' %}">Cerrar sesión</a>
            </div>
            <div id="workspace-content">
                <!-- Aquí se mostrará el contenido dinámicamente -->
            </div>
        </div>
    </div>

    <script src="{% static 'js/functions.js' %}"></script>
</body>
</html>